
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container-footer .section{
    margin-right: 30px;
}
footer .container-footer .section.sobrenos{
    width: 40%;
}
footer h2{
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fff;
}

footer h2::before{
    content: " ";
    position: absolute;
    width: 50px;
    height: 2px;
    bottom: -5px;
    background-color: #1976D2;
}

footer p {
    color: #999;
    font-weight: 300;
}
.sci-c-2{
    margin-top: 20px;
    display: flex;
}
.sci-c-2 li{
    list-style: none;
}
.sci-c-2 li a.links-footer-social{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color:#fff;
    text-decoration: none;
}
.sci-c-2 li a.links-footer-social:hover{
    background: #1976D2;
}
.links-rapidos{
    position: relative;
    width: 25%;
}
.links-rapidos ul li{
    list-style: none;
}
.links-rapidos ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links-rapidos ul li a:hover{
    color: #fff;
}
.contato{
    width: calc(35% -60px);
    margin-right: 0!important;
}
.contato .info{
    position: relative;
}
.contato .info li{
    display: flex;
    margin-bottom: 16px;
}
.contato .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contato .info li span{
    color: #999;
}
.contato .info li a{
    color: #999;
    text-decoration: none;
}
.contato .info li a:hover{
    color: #fff;
}
.copy-text{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color:#999
}
@media( max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container-footer{
        flex-direction: column;
    }

    footer .container-footer .section.sobrenos, .contato, .links-rapidos{
        width: 100%;
    }
    footer .container-footer .section{
        margin-right: 0;
        margin-bottom: 40px;
    }
}
@media( max-width: 300px){
    footer{
        font-size: 12px;
    }

}